/* This stylesheet is meant for custom styles, on top of The Sylk Template */

.logo-pic {
    width: 100%;
}

.logo-pic-header {
    height: 75px;
    width: auto;
}

.video-client {
    width: 100%;
    height: 630px;
}

.button {
    border: none;
    background: transparent;
    color: white;
    font-size: 2rem;
}

.warning-msg {
    display: none;
}

.name {
    margin-bottom: 0 !important;
}

.founder {
    font-size: 1.5rem;
    font-weight: 100;
}

.icon-contact {
    color: #B6B6B6;
    font-size: 3rem;
    transition: all .4s ease-in-out;
    margin-right: 1.5rem;
}

.icon-contact:hover {
    color: #FFFFFF;
}

@media (max-width: 1000px) {
    .logo-pic {
        height: 50px;
        width: auto;
    }
    .logo-pic-header {
        height: 50px;
        width: auto;
    }
    .video-client {
        width: 100%;
        height: 315px;
    }
    .icon-content {
        text-align: center;
        margin-bottom: 2rem;
    }
}
